// Page Specific Styles
// Homepage
.logo {
  width: 80px;
  height: auto;
  position: absolute;
  background: #fff;
  z-index: 999;
  padding: 0 15px 15px;
  box-shadow: 1.5px 28px 44px 0 rgba(0,0,0,.2);
}
.homepage {
  & .home-bg {
    background-color: #eef2c5;
  }
  & .committee-bg {
    background-color: #F3F8D3;
  }
  & .volunteers-bg {
    background-color: rgba(151, 134, 76, 0.8);
  }
  & .story-bg {
    background: #F2DEBD;
  }
  & .homepage-carousel {
    & .item {
      min-height: 400px;
      background: url(../../images/banner.jpg);
      background-position: center center;
      background-size: cover;
    }
    & .carousel-caption {
      top: 25%;
      right: 10%;
      bottom: 18%;
      left: 35%;
      padding: 50px 80px;
      text-align: left;
      background-color: rgba(204, 102, 0, .8);
      & .carousel-action {
        padding: 9px 26px 9px;
        background-color: #333;
      }
      & .carousel-indicators {
        position: relative;
        left: 0;
        width: auto;
        margin-left: 0;
        text-align: left;
      }
    }
    & .carousel-control {
      background: none;
      width: 10%;
      opacity: 1;
      & .carousel-icon {
        width: 25px;
        height: 25px;
        background: rgba(0, 0, 0, 0.5);
        border: 1px solid #fff;
      }
    }
  }
  & .home-tabs {
    & .nav-tabs {
      border-bottom: 0;
      & li {
        & a {
          color: #fff;
          border: 0;
          border-radius: 0;
          @extend .display-flex;
          padding: 30px 30px 25px;
          background-color: $brand-primary;
          margin-right: 0;
          & .toggle-icon {
            &:after {
              content: '\f067';
            }
          }
        }
        &:not(:last-child) {
          & a {
            margin-right: 5px;
            @include mediaQuery($max, $pre-tablet) {
              margin-right: 0;
              margin-bottom: 10px;
            }
          }
        }
        &.active {
          & a {
            color: $brand-primary;
            background-color: #fff;
            & .toggle-icon {
              &:after {
                content: '\f068';
              }
            }
          }
        }
      }
    }
    & .tab-content {
      background-color: #fff;
      @include mediaQuery($max, $pre-tablet) {
        margin-top: 10px;
      }
    }
  }
  & .event-tabs {
    & .nav-tabs {
      border-bottom: 1px solid #071a38;
      & li {
        margin: 0;
        @include mediaQuery($max, $pre-tablet) {
          width: 50%;
        }
        & a {
          color: rgba(102, 102, 102, 0.6);
          background: none;
          border: none;
          border-bottom: 3px solid transparent;
          @include mediaQuery($max, $pre-tablet) {
            text-align: center;
          }
        }
        &.active {
          & a {
            color: #000;
            border-bottom: 3px solid $brand-primary;
          }
        }
      }
    }
    & .tab-content {
      & .tags {
        padding: 4px 11px 3px 9px;
        background-color: #D9D7AA;
      }
    }
  }
  & .grid-wo-borders {
    & ul {
      display: flex;
      flex-wrap: wrap;
      // Hide superfluous border
      margin: 0 -1px -1px 0;
      list-style: none;
      padding: 0;
    }
    & li {
      flex: 1 0 33.33%;
      height: 200px;
      border-right: 1px solid black;
      border-bottom: 1px solid black;
      background-color: deeppink;
      &:empty {
        height: 0;
        border: none;
      }
    }
  }
}

.events {
  & .events-bg {
    background-image: url(http://placehold.it/1920x700);
    background-position: center center;
    background-size: cover;
  }
}
